@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#controlGroupWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controlGroup {
    width: 25%;
    height: 80%;
    padding: 1rem;
    background-color: #696969;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.controlGroup .btn {
    /* margin: 1rem; */
    outline: none;
    background-color: #0895e7;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 14px 40px;
    font-size: 16px;
}

.controlGroup .btn:active {
    background-color: #71a0bb;
}

.controlGroup p {
    color: #ffffff;
    font-size: 2rem;
}

.controlgroup #analogSlider {
    margin: 1rem;
    appearance: none;
    width: 95%;
    height: 1.5rem;
    background-color: #d3d3d3;
    border-radius: 15px;
    outline: none;
}

#analogSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background: #0895e7;
    border-radius: 50%;
    cursor: pointer;
}

#analogSlider::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    background: #0895e7;
    border-radius: 50%;
    cursor: pointer;
}

.controlGroup #currentSerialValue {
    background-color: #d3d3d3;
    border: 3px solid #d3d3d3;
    padding: 0.1rem;
    border-radius: 15px;
    margin: 1rem;
    width: 95%;
    height: 3rem;
    line-height: 2.5rem;
    outline: none;
    font-size: 2rem;
}

@media (max-width: 1200px) {
    #controlGroupWrapper {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .controlGroup {
        width: 80%;
        height: 25%;
    }
}

@media (min-width: 1201px) {
    #controlGroupWrapper {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .controlGroup {
        width: 25%;
        height: 80%;
        margin: 1rem;
    }

    body {
        height: 800px;
    }
}